#--------------------------------------------------------------------
# ENVIRONMENT
#--------------------------------------------------------------------

CI_ENVIRONMENT = production
#CI_ENVIRONMENT = development

ticketshop.apitoken = abc

mqtt_port = 1883
mqtt_server = xyz
mqtt_clientid = mch2022ticketshop
mqtt_username = abc
mqtt_password = def
