#--------------------------------------------------------------------
# ENVIRONMENT
#--------------------------------------------------------------------

CI_ENVIRONMENT = production
#CI_ENVIRONMENT = development

ticketshop.apitoken = abc

mqtt.port = 1883
mqtt.server = xyz
mqtt.clientid = mch2022ticketshop

